* {
  font-size: 13px;
}

.main-navbar-container {
  padding: 10px;
  background-color: #f78b00;
  max-height: 100px;
}

h1{
  font-size: 1.5em;
}

h2{
  font-size: 1em;
}

@media (min-width: 576px){
  .list-menu li{
    margin-right: 20px;
  }

  .content-navbar-container{
    display: flex;
    align-items: center;
  }

  .menu-navbar-container{
    display: flex;
    justify-content: flex-end;
  }
}